<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="webMAN_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<userSettings>
		<webMAN_Manager.Properties.Settings>
   <setting name="initIpString" serializeAs="String">
    <value />
   </setting>
   <setting name="DownloadParams" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisableLogging" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Fullscreen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConTimeout" serializeAs="String">
    <value>6000</value>
   </setting>
   <setting name="FastStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScalePlus" serializeAs="String">
    <value>0</value>
   </setting>
  </webMAN_Manager.Properties.Settings>
	</userSettings>
</configuration>